.dashboard_container {
    width: 80%;
    margin: auto;
    /* height: auto; */
}

.prof_details {
    margin-bottom: 30px;
}

.alljobs {
    width: 50%;
    border: 1px solid #eee;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; justify-content: center; align-items: center;
}

.ajob {
    width: 100%;
    background-color: #fff;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.temp_ {
    display: flex; justify-content: space-between; align-items: center;
    font-size: 14px;
}

.description {
    font-size: 13px;
    margin: 10px 0px 10px 0px;
}

.title {
    font-weight: 600;
}

.status {
    font-weight: normal;
    font-size: 12px;
}

/* Job page */
.job_page {
    display: flex;
    justify-content: center; align-items: center;
    width: 100%; height: 100vh;
}