html, body {
    margin: 0; padding: 0;
}

* {
    box-sizing: border-box;
}

.side {
    width: 25%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_container {
    display: flex;
}

.loginsection {
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_frame {
    width: 30%;
    border: 1px solid #eee;
    padding-bottom:  40px;
}

form {
    width: 85%;
}

input {
    width: 100%;
    padding-left: 6px;
    height: 35px;
    margin-bottom: 20px;
}

input[type='submit'] {
    background-color: #5bad60;
    color: #fff;
    border: none;
}